{% extends "layouts/base.html" %}
{% block content %}

{% include "layouts/navbar.html" %}

<div class="outside">
    <div class="box">
    </div>
    <div class="reverse-box">
      TechEcho
    </div>
</div>

<!-- Search Form -->
<div class="flex items-center justify-center h-screen mt-auto">
    <div class="relative w-full max-w-xl px-2">
        <form method="GET" action="{% url 'search_view' %}" class="flex items-center relative">
            <input
                type="text"
                name="q"
                class="w-full p-2 pr-10 border border-gray-300 h-14 rounded-3xl mt-28"
                placeholder="Search..."
                value="{{ query }}"
            >
            <button type="submit" class="absolute text-gray-500 bottom-4 right-5">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <span class="tag-blue">JavaScript</span>
        <span class="tag-red">Python</span>
    </div>
</div>

<!-- Search Results Section -->
<div class="mt-10">
    {% if question_results or answer_results %}
        <h2 class="text-xl font-semibold">Search Results for "{{ query }}":</h2>

        <!-- Questions Results -->
        {% if question_results %}
            <h3 class="mt-5 text-lg font-medium">Questions:</h3>
            <ul>
                {% for question in question_results %}
                    <li>
                        <a href="{% url 'question_detail' question_id=question.id %}">{{ question.title }}</a>
                        <p>{{ question.details|striptags|truncatewords:10 }}</p> <!-- Display a preview of the question details -->
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <!-- Answers Results -->
        {% if answer_results %}
            <h3 class="mt-5 text-lg font-medium">Answers:</h3>
            <ul>
                {% for answer in answer_results %}
                    <li>
                        <p>{{ answer.content|striptags|truncatewords:10 }} (Related Question:
                        <a href="{% url 'question_detail' question_id=answer.question.id %}">{{ answer.question.title }}</a>)</p>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>

{% endblock content %}